.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  .name404 {
    span {
        font-size: 30px;
      color: whitesmoke;
    }
  }

  .description {
    span {
        font-size: 25px;
      color: whitesmoke;
    }
  }
}
