
   
    .tableContainer {
        margin-top: 75px;
        display: flex;
        justify-content: center;
    }

.lol {
    width: 300px;
    height: 200px;
    background: black;
}
thead {
    background: #0EC86F;
}

table {
    text-align: center;
    border-collapse: collapse;
}

table tr th {
    color:black;
    text-align: center;
    padding: 10px 40px;
}
table tr td {
    color:black;
}


td img:first-child {
    margin-right: 10px;
  }
  
td img {
    cursor: pointer;
}