*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body {
    background: #44B26F;
    margin: 0 auto;
}

.containerSec {
    padding-bottom: 60px;
}
// .container {
   
//     display: flex;
//     justify-content: center;
// }

