.Loading {
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 100px;
}
    .SinglePreviewPage {
      height: 100vh;
     width: 100%;
      display: flex;
      flex-direction: column;
      background: #ffffff;
        .header {
            background: #0ec86f;
            .singleLogo {
               
              }
        }
      
  
      .SingleData {
        display: flex;
        align-items: center;
        padding: 35px 70px 0px;
        margin-bottom: 30px;
  
        .SingleBack {
          cursor: pointer;
        }
  
        .SingleName {
          margin-left: 35px;
          font-weight: 500;
          font-size: 32px;
          line-height: 39px;
          color: #000000;
        }
      }
  
      .laptopAndDescription {
        display: flex;
        padding: 35px 70px;
  
        .laptopImg {
          width: 396px;
          height: 268px;
  
          img {
            object-fit: fill;
            width: 100%;
            height: 100%;
          }
        }
  
        .allRightDescription {
          display: flex;
          flex-direction: column;
          margin-left: 45px;
          margin-top: -40px;
  
          .productCOst {
            padding-left: 30px;
            margin-top: 30px;
  
            span {
              font-weight: 500;
              font-size: 36px;
              line-height: 44px;
              color: #fc5b00;
            }
          }
  
          .productQuantity {
            padding-left: 30px;
            margin-top: 30px;
  
            span {
              font-weight: 500;
              font-size: 24px;
              line-height: 29px;
              text-align: center;
              color: #000000;
            }
          }
  
          .acceptAndName {
            display: flex;
            align-items: center;
  
            .acceptImg {
              width: 30px;
              height: 30px;
  
              img {
                width: 100%;
                height: 100%;
              }
            }
  
            .acceptName {
              margin-left: 10px;
  
              span {
                font-weight: 500;
                font-size: 36px;
                line-height: 44px;
              }
            }
          }
        }
      }
  
      .bigDescriptionOfPr {
        margin-top: 70px;
        padding: 0px 70px 70px 70px;
        span {
          font-weight: 700;
          font-size: 34px;
          line-height: 29px;
          color: #000000;
        }
        p {
          margin-top: 45px;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #000000;
        }
      }
    }
  
  