.DeleteFormContainer {
  background: #ffffff;
  max-width: 429px;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  min-height: 146px;
  position: relative;
  .DeleteQuestion {
    padding-top: 46px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #05bc52;
    text-align: center;
    margin-bottom: 15px;
  }
  .DeleteButtons {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: flex-end;
    .cancelDelete {
        cursor: pointer;
      width: 115px;
    border: none;
      min-height: 33px;
      background: #d8d5d5;
      color: #FFFFFF;
    
    }
    .DeleteDelete {
        cursor: pointer;
        width: 115px;
      margin-left: 10px;
      border: none;
      min-height: 33px;
      background: #fb0000;
      color: #FFFFFF;
 
    }
  }
}
