.containerSec {
  
}

.header {
   
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.ProductTools {
  background: #44B26F;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;

    .logoAndButton {
      display: flex;
      flex-direction: column;
      padding: 20px 0px 0px 0px;

      .preview {
        padding-left: 10px;
        padding-top: 30px;

        .preview_inside {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 17px 50px 17px 19px;

          span {
            margin-left: 15px;
          }
        }
      }
    }

    .products_h {
      display: flex;
      align-items: center;

      h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: #ffffff;
      }
    }

    .addButton {
      padding-left: 10px;
      margin-top: auto;
      padding-left: 50px;

      .add_inside {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 17px 50px 17px 19px;

        span {
          margin-left: 15px;
        }
      }
    }
  }
}
